$--color-yellow: #faa700;
$--color-dark-yellow: #e48d00;
$--color-red: #a1173c;
$--color-soft-yellow: #fce4b3;
$--color-medium-yellow: #eac886;
$--color-ocean: #2f4858;
$--color-sky: #6dd5ed;
$--color-blue-sky: #2193b0;
$--color-green: #008951;